# Ignoruj folder z sekretami
private/

# Ignoruj folder z wynikami reconu (nie chcemy wycieku danych klientów!)
projects/

# Ignoruj środowiska wirtualne Pythona
venv/
.venv/
.env

# Ignoruj pliki tymczasowe Pythona i cache
__pycache__/
*.pyc

# Wewnętrzna roadmapa (lokalna, nie publikujemy)
.INSTRUKCJE.md
INSTRUKCJE.md